<article class="bar-chart">
    <div>
        <canvas baseChart 
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
        <!-- <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
      </div>
</article>  