@import '../mixin.scss';
.master-header {
	height: 80px;
	background: #fefefe;
	position: relative;
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);

	.logo {
		width: 200px;
		height: 100%;
		float: left;
		position: relative;
		img {
			width: 100%;
			padding: 12px;
			display: block;
			@extend align-center;
		}
	}

	.menu {
		padding: 0;
		margin: 0;    
		// width: calc(100% - 600px);
		height: 100%;
		list-style: none;
		float: right;
		color: #7a838f;
		margin-right: 32px;;

		li {
			float: left;
			cursor: pointer;
			// margin-left: 8%;
			// width: calc((100% / 4) - 55px);
			text-align: center;
			height: 100%;
			font-weight: bold;
			font-size: 12px;
			padding: 30px;
			color: #5f6e78;

			.icon {
				display: block;
				margin: 16px 0 8px;
				img {
					width: 20px;
					height: 20px;
				}
			}

			label {
				// display: block;
				cursor: pointer;
				margin-bottom: 8px;
				font-weight: 600;
				color: #5f6e78;
				// float: left;
			}
			i {
				line-height: 15px;
			}

			sub {
				display: block;
				// width: 60%;
				height: 2px;
				background: #273239;
				margin: auto;

			}

			&.active {
				color: #273239;
			}
			.dropdown {
				position: relative;
				display: inline-block;
				z-index: 1000;
				.dropdown-label {
					label {
						float: left;
					}
					i {
						line-height: 13px;;
					}
				}
				 span {
					color: #5f6e78;
				 }
			  }
			  
			  .dropdown-content {
				display: none;
				position: absolute;
				background-color: #f9f9f9;
				min-width: 160px;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				padding: 12px 16px;
				z-index: 1;
				text-align: left;
				.drop-down-list {
					padding: 0;
					height: 32px;
					line-height: 32px;
				}
			  }
			  
			  .dropdown:hover .dropdown-content {
				display: block;
			  }
		}

		&.after {
			@extend clear-both-float;
		}
	}

	.profile {
		// width: 180px;
		width: 214px;
		height: 100%;
		float: right;

		.initials {
			padding: 0;
			margin: 0;
			width: 48px;
			height: 48px;
			border-radius: 50%;
			text-align: center;
			font-size: 20px;
			background: #9b9d9c;
			color: #fff;
			line-height: 48px;
			float: left;
			margin-right: 8px;
			margin-top: 16px;
		}

		.name-and-designation {
			color: #9b9d9c;
			height: 48px;
			float: left;
			margin-top: 24px;
			h3, h5 {
				margin: 0;
				padding: 0;
			}
			h3 {
				font-weight: bolder;
			}
			h5 {

			}
		}

		.menu-btn {
			padding: 0;
			margin: 0;
			border: none;
			float: right;
			margin-top: 24px;
			margin-right: 8px;
			background: transparent;
			cursor: pointer;
			color: #9b9d9c;
		}

		&.after {
			@extend clear-both-float;
		}

	}

	&.after {
		@extend clear-both-float;
	}
	
}