<section class="master-header">

	<aside class="logo">
		<img src="/assets/images/logo.svg" alt="">
	</aside>

	<div class="profile">

		<figure class="initials">DB</figure>
		<aside class="name-and-designation">
			<h3 class="name">DAN BROWN</h3>
			<h5 class="designation">Site Supervisor</h5>
		</aside>

		<!-- <button class="menu-btn">
			<i class="material-icons">more_vert</i>
		</button> -->

	</div>

	<ul class="menu">

		<li (click)="navigateTo('devices')" [class.active]="!routedTabNameProp || routedTabNameProp === 'devices'">
			<div class="dropdown">
				<div class="dropdown-label">
					<label class="menu-name">Resources</label>
				</div>
			</div>
		</li>

		<li (click)="navigateTo('notifications')" [class.active]="!routedTabNameProp || routedTabNameProp === 'notifications'">
			<div class="dropdown">
				<div class="dropdown-label">
					<label class="menu-name">Notifications</label>
				</div>
			</div>
		</li>

		<!-- <li (click)="navigateTo('heatmaps')" [class.active]="!routedTabNameProp || routedTabNameProp === 'heatmaps'">
			<div class="dropdown">
				<div class="dropdown-label">
					<label class="menu-name">HEATMAPS</label>
					<i class="material-icons">expand_more</i>
				</div>
				<sub *ngIf="!routedTabNameProp || routedTabNameProp === 'heatmaps'"></sub>
				<div class="dropdown-content">

					<ul class="drop-down-list" [class.show]="dropdownToShow === 'notifications'">
						<p *ngFor="let type of notificationTypeList | keyvalue; let i = index;">
							<label for="{{type.key}}">
								<input type="checkbox" id="{{type.key}}" name="heatmapSub[]" 
									(change)="onChangeNotificationType($event)" />
								{{type.value.displayName}}</label>
						</p>
					</ul>
				</div>
			</div>
		</li> -->

		<!-- <li (click)="navigateTo('devices')" [class.active]="routedTabNameProp === 'alerts'">
			<div class="dropdown">
				<div class="dropdown-label">
					<label class="menu-name">ALERTS</label>
					<i class="material-icons">expand_more</i>
				</div>
				<sub *ngIf="routedTabNameProp === 'alerts'"></sub>
			</div>
		</li> -->
		<!-- <li>

			<span class="material-icons">
				search
			</span>

		</li> -->
		<!-- <li (click)="navigateTo('notifications')" [class.active]="routedTabNameProp === 'notifications'">
			<div class="dropdown">
				<span class="material-icons">
					notifications_active
				</span>
				<sub *ngIf="routedTabNameProp === 'notifications'"></sub>
			</div>
		</li> -->

		<!-- <li (click)="navigateTo('operations')" [class.active]="routedTabNameProp === 'operations'">
			<span class="icon">
				<img src="/assets/svg/Operations.svg" alt="">
			</span>
			<label class="menu-name">Operations</label>
			<sub *ngIf="routedTabNameProp === 'operations'"></sub>
		</li> -->

	</ul>



</section>