<article class="sub-header">
    
    <div class="drop-down" (click)="showDropdown('heatmaps')">
        <label class="name">Heatmaps</label>
        <i class="material-icons">expand_more</i>

        <ul class="drop-down-list" [class.show]="dropdownToShow === 'heatmaps'">
            <!-- <li *ngFor="let type of heatmapOptions | keyvalue; let i = index;">
                <label for="{{type.key}}"><input type="checkbox" id="{{type.key}}" [checked]="true"
                        (change)="onChangeNotificationType($event)" />{{type.value.displayName}}</label>
            </li> -->
        </ul>

    </div>

    <div class="drop-down" (click)="showDropdown('devices')">
        <label class="name">Devices</label>
        <i class="material-icons">expand_more</i>

        <ul class="drop-down-list" [class.show]="dropdownToShow === 'devices'">

            <li  *ngFor="let deviceType of deviceTypeList | keyvalue; let i = index;">
                <label for="{{deviceType.key}}"><input type="checkbox" id="{{deviceType.key}}" [checked]="true"
                        (change)="onChangeOption($event)" />{{deviceType.value.displayName}}</label>
            </li>
        </ul>

    </div>

    <div class="drop-down" (click)="showDropdown('alerts')">
        <label class="name">Alerts</label>
        <i class="material-icons">expand_more</i>

        <ul class="drop-down-list" [class.show]="dropdownToShow === 'alerts'">

            <li  *ngFor="let alertType of alertTypeList | keyvalue; let i = index;">
                <label for="{{alertType.key}}"><input type="checkbox" id="{{alertType.key}}" [checked]="true"
                        (change)="onChangeOption($event)" />{{alertType.value.displayName}}</label>
            </li>
            
            <!-- <li>
                <label for="events"><input type="checkbox" id="events" [checked]="true"
                        (change)="onChangeOption($event)" />Events</label>
            </li>
            <li>
                <label for="incidents"><input type="checkbox" id="incidents" [checked]="true"
                        (change)="onChangeOption($event)" />Incidents</label>
            </li>
            <li>
                <label for="operationalAlerts"><input type="checkbox" id="operationalAlerts" [checked]="true"
                        (change)="onChangeOption($event)" />Operational Alerts</label>
            </li> -->
        </ul>

    </div>

    <!-- <div class="drop-down" (click)="showDropdown('structure')">
        <label class="name">Structure</label>
        <i class="material-icons">expand_more</i>
        <ul class="drop-down-list" [class.show]="dropdownToShow === 'structure'">
            <li>
                <label for="lidar"><input type="radio" name="structure" id="lidar" [checked]="false"
                    (change)="onChangeStructureType($event)" />Lidar</label>
            </li>
            <li>
                <label for="drone"><input type="radio" name="structure" id="drone" [checked]="true"
                    (change)="onChangeStructureType($event)" />Drone</label>
            </li>
        </ul>
    </div> -->

</article>