.sub-header {
    height: 50px;
    background: #d7def0;

    .drop-down {
        width: 158px;
        height: 28px;
        border: 1px solid #485973;
        border-radius: 40px;
        display: inline-block;
        padding: 0px 10px;
        color: #485973;
        margin: 12px 16px 0;
        position: relative;
        vertical-align: top;
        cursor: pointer;

        .name {
            vertical-align: top;
            line-height: 28px;
            font-size: 13px;
            font-weight: bold;
            cursor: pointer;
        }

        i {
            float: right;
            font-size: 18px;
            margin-top: 4px;
        }

        .drop-down-list {
            background: #ffffff;
            position: absolute;
            z-index: 998;
            display: none;
            padding: 0;
            margin: 0;
            top: 28px;
            left: 0;
            list-style: none;
            border-radius: 5px;
            box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.1);
            &.show {
                display: block;
            }

            li {
                cursor: pointer;
                width: 158px;
                
                label {
                    padding: 10px;
                    display: block;
                    font-size: 14px;
                    cursor: pointer;
                    input {
                        margin-right: 8px;
                    }
                }
            }
        }
    }

}