<article class="device">

    <section class="device-map">
        <div id="map" leaflet (leafletMapReady)="onMapReady($event)" [leafletOptions]="mapOptions"
                [leafletLayersControl]="layersControl">
            </div>
    </section>

    <aside class="map-list">

        <section class="list-section-block">

            <aside class="list-section" [class.show]="selectedListToShow.cameras">
                <header (click)="expandCollapseList('cameras')">Cameras</header>
                <ul class="list" >
                    <li *ngFor="let list of filteredCameraList; let i = index;" class="list-item expand-collapse" (click)="handleClickOnListItem(list, 'cameras')">

                        <app-list-item [listItemProp]="list" [showListItemProp]="(selectedItemInList['DeviceID'] === list['DeviceID'] && selectedItemInList['deviceGPSLat'] === list['deviceGPSLat'])"></app-list-item>

                    </li>
                </ul>
            </aside>

            <aside class="list-section" [class.show]="selectedListToShow.lightPoleList">
                <header (click)="expandCollapseList('lightPoleList')">Light Poles</header>
                <ul class="list">
                    <li *ngFor="let list of filteredLightPoleList; let i = index;" class="list-item expand-collapse" (click)="handleClickOnListItem(list, 'lightPoleList')">

                        <app-list-item [listItemProp]="list" [showListItemProp]="(selectedItemInList.DeviceID === list.DeviceID && selectedItemInList.deviceGPSLat === list.deviceGPSLat)"></app-list-item>

                    </li>
                </ul>
            </aside>

            <aside class="list-section" [class.show]="selectedListToShow.airSensorList">
                <header (click)="expandCollapseList('airSensorList')">Air Quality Sensors</header>
                <ul class="list" >
                    <li *ngFor="let list of filteredAirSensorList; let i = index;" class="list-item expand-collapse" (click)="handleClickOnListItem(list, 'airSensorList')">

                        <app-list-item [listItemProp]="list" [showListItemProp]="(selectedItemInList.DeviceID === list.DeviceID && selectedItemInList.deviceGPSLat === list.deviceGPSLat)"></app-list-item>

                    </li>
                </ul>
            </aside>

        </section>

    </aside>

</article>