@import "../mixin.scss";

.device {
    height: calc(100vh - 80px);

    .device-map {
        width: calc(100% - 280px);
        height: 100%;
        float: left;
        padding: 16px 8px;
        #map {
            height: calc(100vh - 100px);

            .img-name-and-btn{
                .icnwarning{
                      /* padding: 4px; */
                      margin-top: 2px;
                        /* width: 20px; */
                        height: 20px;
                        float: left;
                        color: #485973;
                        span{
                            font-size: 15px
                        }
                }
                .list-item-image {
                    padding: 2px;
                    margin: 0;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: #485973;
                    float: right;
                    color: #fff;
                    span{
                        font-size: 15px
                    }
                }
    
                .list-item-name {
                    font-weight: bolder;
                    color: #5c6566;
                    font-size: 12px;
                    height: 20px;
                    line-height: 20px;
                    width: calc(100% - 84px);
                    display: inline-block;
                    @extend ellipse;
                    &.map {
                        width: calc(100% - 56px);
                    }
                }
    
                .expand-collapse {
                    padding: 0;
                    margin: 1px 0 0 0;
                    border: none;
                    border-radius: 50%;
                    width: 18px;
                    height: 18px;
                    background: #485973;
                    color: #fff;
                    font-size: 18px;
                    float: right;
                    cursor: pointer;
                    i {
                        font-size: 18px;
                    }
                }
    
                &:after {
                    @extend clear-both-float;
                }

            }

            .list-item-info {
                   
                font-size: 11px;
                margin-top: 12px;
                color: #5c6566;
                padding: 0px;   

                &.show {
                    display: block;
                }

                header {
                    margin-bottom: 4px;
                    font-size: 11px;
                    font-weight: 600;
                    font-family: monospace;
                }

                address {
                    margin-bottom: 4px;
                    font-style: normal;
                    font-size: 10px;
                    color: BLACK;
                }
                aside
                {
                    button{

                        border: 1px #02a1b5 solid;
                    background-color: #00BCD4;
                    padding: 5px;
                    color: white;
                    border-radius: 15px;
                    font-size: 10px;
                    }
                    time {
                             float: right;
                    }
                }            

            }

        }
    }
    
    .map-list {
        width: 280px;
        height: 100%;
        float: left;

        .list-section-block {
            @extend list-section-block;
        }
    }

}