<div class="app">

    <header class="app-header">
        <h2 class="main-header">
            <app-master-header [routedTabNameProp]="routedTabName" (routerNameEvent)="handleRouterNameEvent($event)" (showCameraEvent)="handleShowCamera($event)"></app-master-header>
        </h2>
        <h3 class="sub-header">
            <app-sub-header></app-sub-header>
        </h3>
    </header>

    <section class="main">        
        <router-outlet></router-outlet>
    </section>
    
</div>