@import './mixin.scss';

.app {

    * {
        @extend x2-scroller;
    }

    .app-header {
        height: calc(80px + 50px);
        .main-header {
            margin: 0;
            height: 80px;
            position: relative;
            box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
        }
        .sub-header {
            margin: 0;
            height: 50px;
            background: #d7def0;
        }
    }

    .main {
        height: calc(100vh - 80px);
    }

}