align-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

clear-both-float {
    content: '';
    display: block;
    clear: both;
}

no-scrollbar {
    &::-webkit-scrollbar {
        width: 0px;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }
    /* Optional: show position indicator in trasparent */
    &::-webkit-scrollbar-thumb {
        background: transparent;
    }
}

x2-scroller {
    *::-webkit-scrollbar {
        width: 2px !important;
        background: rgba(0, 0, 0, 0.2);
    }
    *::-webkit-scrollbar {
        width: 2px !important;
        height: 2px !important;
        background: rgba(0, 0, 0, 0.2);
    }
}

border-bottom {
    border-bottom: solid 1px #E6E6F0;
}

ellipse {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

list-section-block {
    width: 280px;
    height: calc(100vh - 85px);
    padding: 16px 8px 0px 0;
    overflow: hidden;
    float: right;

    .list-section {
        // height: 100%;
        // max-height: 100%;
        height: 40px;
        overflow: hidden;
        &.show {
            height: calc(100vh - 178px);
        }
        header {
            height: 36px;
            line-height: 36px;
            text-transform: uppercase;
            font-weight: bold;
            background: #485973;
            color: #fff;
            border-radius: 4px 4px 0px 0px;
            padding: 0 12px;
            font-size: 12px;
            background: #28a8be;
            &.show {
            }
        }

        .list {
            padding: 0;
            margin: 0;
            list-style: none;
            // height: 100%;
            height: calc(100vh - 218px);
            overflow: scroll;                   

        }
    }

    &:after {
        @extend clear-both-float;
    }
}