<article class="list">
    <header [class.show]="listTypeProp !== 'Notification'" class="list-header">{{listHeaderNameProp}}</header>
    <div *ngIf="listTypeProp=='Common-list'">
        <ul *ngIf="inputDataProp && inputDataProp.length ">

            <li class="list-item expand-collapse" *ngFor="let list of inputDataProp; let i = index;">

                <section class="img-name-and-btn" (click)="handleClickOnListItem(list, i)">

                    <div class="icnwarning">
                        <!-- <span class="material-icons">
                            warning
                        </span> -->
                        <img src="./assets/List Icons/{{list.deviceNotificationIcon}}" alt="">

                    </div>

                    <label class="list-item-name">{{list.deviceLocationName}}</label>

                    <!-- <button class="expand-collapse" *ngIf="showExpandBtnProp">
                    <i class="material-icons">keyboard_arrow_down</i>
                </button> -->
                    <div *ngIf="list.lastNotificationVideo" class="list-item-image">
                        <span class="material-icons">
                            videocam
                        </span>
                    </div>
                    <div *ngIf="list.lastNotificationImage" class="list-item-image">
                        <span class="material-icons">
                            photo_library
                        </span>
                    </div>

                </section>

                <section class="list-item-info" [class.show]="selectedListItem === list">
                    <header>{{list.lastNotificationMessage}}</header>
                    <address>{{list.lastNotificationDetail}}</address>
                    <aside>
                        <button>
                            Setup Repair
                        </button>
                        <time>{{list.lastNotificationTimestamp}}</time>
                    </aside>

                </section>


            </li>

        </ul>
    </div>
    <div *ngIf="listTypeProp=='Notification'">

        <!-- <aside class="show-filter">
            <span>
                <i class="material-icons">notifications_active</i><label>1</label>
            </span>
            <span>
                <img src=""><label>2</label>
            </span>
            <span>
                <img src=""><label>3</label>
            </span>
        </aside> -->

        <ul *ngIf="inputDataProp && inputDataProp.length">

            <li class="list-item expand-collapse" *ngFor="let list of inputDataProp; let i = index;">

                <section class="img-name-and-btn" (click)="handleClickOnListItem(list, i)">

                    <figure class="icnwarning">
                        <!-- <span class="material-icons">
                            warning
                        </span> -->
                        <img src="./../../assets/List Icons/{{list.deviceNotificationIcon}}" alt="">

                    </figure>



                    <label class="list-item-name">{{list.NotificationHeader}}</label>

                    <!-- <button class="expand-collapse" *ngIf="showExpandBtnProp">
                    <i class="material-icons">keyboard_arrow_down</i>
                </button> -->
                    <div *ngIf="list.NotificationVideo" class="list-item-image" (click)="handleClickVideoOverlay(list.NotificationVideo)">
                        <span class="material-icons">
                            videocam
                        </span>
                    </div>
                    <div *ngIf="list.NotificationImage" class="list-item-image"  (click)="handleClickImageOverlay(list.NotificationImage)">
                        <span class="material-icons">
                            photo_library
                        </span>
                    </div>

                </section>

                <section class="list-item-info" [class.show]="selectedListItem === list">
                    <header>{{list.LocationName}}</header>
                    <address>{{list.Address}}</address>
                    <aside>
                        <button>
                            {{list.NotificationActionLabel}}
                        </button>
                        <time>{{list.NotificationTimestamp}}</time>
                    </aside>

                </section>


            </li>

        </ul>
    </div>
</article>
<article class="image-overlay" *ngIf="showMediaOverlay">
    <section class="overlay"></section>

    <media>
<img [src]="clickedMediaUrl" *ngIf="mediaType=='image'">
<video width="320" height="240" *ngIf="mediaType=='video'" controls>
    <source [src]="clickedMediaUrl" type="video/mp4">
</video>

    </media>
</article>