@import "../mixin.scss";

.list {
    border: 1px solid #dddddd;
    border-radius: 5px;
    background: #fff;

    .list-header {
        height: 36px;
        line-height: 36px;
        text-transform: uppercase;
        font-weight: bold;
        background: #485973;
        color: #fff;
        border-radius: 4px 4px 0px 0px;
        padding: 0 12px;
        font-size: 12px;
        &.show {
            background: #28a8be;
        }
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        height: calc(100% - 36px);

        .list-item {
            // height: 36px;
            border-radius: 4px;
            background: #e9edec;
            margin: 4px;
            padding: 7px 8px;
            border: 1px solid #e0e2e1;

            .img-name-and-btn {
                .icnwarning {
                    padding: 0;
                    margin: 0;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: #485973;
                    float: left;
                    margin-right: 8px;
                    color: #485973;
                    img {
                        width: 100%;
                    }
                    span {
                        font-size: 15px;
                    }
                }
                label {
                    height: 20px;
                    line-height: 20px;
                    width: 150px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: inline-block;
                }
                .list-item-image {
                    padding: 0;
                    margin: 0;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: #485973;
                    float: right;
                    margin-right: 8px;
                    color: #fff;
                    span {
                        font-size: 12px;
                        margin: 4px;
                        cursor: pointer;
                    }
                }

                .list-item-name {
                    font-weight: bolder;
                    color: #485973;
                    font-size: 12px;
                    height: 20px;
                    line-height: 20px;
                    width: calc(100% - 84px);
                    display: inline-block;
                    @extend ellipse;
                    &.map {
                        width: calc(100% - 56px);
                    }
                }

                .expand-collapse {
                    padding: 0;
                    margin: 1px 0 0 0;
                    border: none;
                    border-radius: 50%;
                    width: 18px;
                    height: 18px;
                    background: #485973;
                    color: #fff;
                    font-size: 18px;
                    float: right;
                    cursor: pointer;
                    i {
                        font-size: 18px;
                    }
                }

                &:after {
                    @extend clear-both-float;
                }
            }

            .list-item-info {
                display: none;
                font-size: 11px;
                margin-top: 5px;
                color: #5c6566;
                padding: 0px 5px 0px 15px;

                &.show {
                    display: block;
                }

                header {
                    margin-bottom: 4px;
                    font-size: 11px;
                    font-weight: 600;
                    font-family: monospace;
                }

                address {
                    margin-bottom: 4px;
                    font-style: normal;
                    font-size: 10px;
                    color: BLACK;
                }
                aside {
                    button {
                        border: 1px #02a1b5 solid;
                        background-color: #00bcd4;
                        padding: 5px;
                        color: white;
                        border-radius: 15px;
                        font-size: 10px;
                    }
                    time {
                        float: right;
                    }
                }
            }
        }
    }
    .show-filter {
        width: 100%;
        display: inline-block;
        height: 40px;
        span {
            width: calc((100% / 3) - 15px);
            float: left;
            color: #6c7d9d;
            height: 26px;
            border: 1px solid #6c7d9d;
            border-radius: 22px;
            margin: 7px;
            i {
                font-size: 15px;
                padding: 5px;
            }
        }
    }
}
.image-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 997;

    .overlay {
        width: calc(100% - 24px);
        height: calc(100% - 24px);
        background: rgba(0, 0, 0, 0.4);
        -webkit-filter: blur(5px);
        border-radius: 30px;
        box-shadow: 0 0px 12px 0px rgba(0, 0, 0, 0.6);
        filter: blur(3px);
        @extend align-center;
    }
    media{
       
            position: fixed;
            top: 25%;
            left: 30%;
        
    }
}
