<article class="list-item-block">

    <section class="img-name-and-btn">

        <div class="icnwarning">
            <!-- <span class="material-icons">
                warning
            </span> -->
            <img src="./assets/List Icons/{{listItemProp.deviceNotificationIcon}}" alt="">

        </div>

        <label class="list-item-name">{{listItemProp.deviceLocationName}}</label>

        <!-- <button class="expand-collapse" *ngIf="showExpandBtnProp">
        <i class="material-icons">keyboard_arrow_down</i>
    </button> -->
        <div *ngIf="listItemProp.lastNotificationVideo" class="list-item-image">
            <span class="material-icons">
                videocam
            </span>
        </div>
        <div *ngIf="listItemProp.lastNotificationImage" class="list-item-image">
            <span class="material-icons">
                photo_library
            </span>
        </div>

    </section>

    <section class="list-item-info" [class.show]="showListItemProp">
        <header>{{listItemProp.lastNotificationMessage}}</header>
        <address>{{listItemProp.lastNotificationDetail}}</address>
        <aside>
            <button>
                Setup Repair
            </button>
            <time>{{listItemProp.lastNotificationTimestamp}}</time>
        </aside>

    </section>

</article>