@import '../../mixin.scss';

.list-item-block {
    // height: 36px;
    
    border-radius: 4px;
    background: #e9edec;
    padding: 4px;
    margin-bottom: 2px;
    border: 1px solid #e0e2e1;

    .img-name-and-btn {
        .icnwarning {
            padding: 0;
            margin: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #485973;
            float: left;
            margin-right: 8px;
            color: #485973;
            img {
                width: 100%;
            }
            span {
                font-size: 15px;
            }
        }
        label {
            height: 20px;
            line-height: 20px;
            width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
        }
        .list-item-image {
            padding: 0;
            margin: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #485973;
            float: right;
            margin-right: 8px;
            color: #fff;
            span {
                font-size: 12px;
                margin: 4px;
                cursor: pointer;
            }
        }

        .list-item-name {
            font-weight: bolder;
            color: #485973;
            font-size: 12px;
            height: 20px;
            line-height: 20px;
            width: calc(100% - 84px);
            display: inline-block;
            @extend ellipse;
            &.map {
                width: calc(100% - 56px);
            }
        }

        .expand-collapse {
            padding: 0;
            margin: 1px 0 0 0;
            border: none;
            border-radius: 50%;
            width: 18px;
            height: 18px;
            background: #485973;
            color: #fff;
            font-size: 18px;
            float: right;
            cursor: pointer;
            i {
                font-size: 18px;
            }
        }

        &:after {
            @extend clear-both-float;
        }
    }

    .list-item-info {
        display: none;
        font-size: 11px;
        margin-top: 5px;
        color: #5c6566;
        padding: 0px 5px 0px 15px;

        &.show {
            display: block;
        }

        header {
            margin-bottom: 4px;
            font-size: 11px;
            font-weight: 600;
            font-family: monospace;
        }

        address {
            margin-bottom: 4px;
            font-style: normal;
            font-size: 10px;
            color: BLACK;
        }
        aside {
            button {
                border: 1px #02a1b5 solid;
                background-color: #00bcd4;
                padding: 5px;
                color: white;
                border-radius: 15px;
                font-size: 10px;
            }
            time {
                float: right;
            }
        }
    }
}