@import '../mixin.scss';

.alerts-page {

    

    .alerts {
        height: calc(100vh - 130px);
    
        .alerts-map {
            width: calc(100% - 280px);
            height: 100%;
            padding: 15px;
            
            vertical-align: top;
            float: left;
            #map {
                height: calc(100vh - 100px);
                width: calc(100% - 0px);
              }
            &:after {
                @extend clear-both-float;
            }
        }
    .info{
        
        .camera-list,.light-poles,.air-quality-sensors {
            // width: 280px;
            // height: 100%;
            // padding: 4px;
            // vertical-align: top;
            // float: left;
            height: 180px;
            overflow: scroll;
            .list {
                height: 178px;
                    overflow: hidden;
                    ul {
                        height: 178px;
                        overflow-y: scroll;
                        overflow-x: hidden;
                    }
            }
    
            &:after {
                @extend clear-both-float;
            }
        }
         
    }
        &:after {
            @extend clear-both-float;
        }
        
    }


}
