<article class="alerts-page">

    
 
    <aside class="alerts">

        <section class="alerts-map">
            <div id="map"
            leaflet
            (leafletMapReady)="onMapReady($event)"
            [leafletOptions]="mapOptions"
            [leafletLayersControl]="layersControl"
            >
       </div>
        </section>
 <article class="info">
        <section class="camera-list">
            <app-list [listHeaderNameProp]="'CAMERAS'" [showExpandBtnProp]="true" listTypeProp="Common-list"></app-list>
        </section>
        <section class="light-poles">
            <app-list [listHeaderNameProp]="'LIGHT POLES'" [showExpandBtnProp]="true" listTypeProp="Common-list"></app-list>
        </section>
        <section class="air-quality-sensors">
            <app-list [listHeaderNameProp]="'AIR QUALITY SENSORS'" [showExpandBtnProp]="true" listTypeProp="Common-list"></app-list>
        </section>  
    </article>
    </aside>

</article>
