<article class="notificatoins-page">

    
 
    <aside class="notificatoins">

        <section class="notificatoins-map">
            <div id="map"
            leaflet
            (leafletMapReady)="onMapReady($event)"
            [leafletOptions]="mapOptions"
           
            >
             <!-- [leafletLayersControl]="layersControl" -->
       </div>
        </section>
 <article class="info">
        <section class="camera-list">
            <app-list [listHeaderNameProp]="'NOTIFICATIONS'" [showExpandBtnProp]="true" 
            [inputDataProp]="notifyList" [listTypeProp]="'Notification'"></app-list>
        </section>
          
    </article>
    </aside>

</article>

