<article class="heatmap-page">

    <!-- <p>{{selectedItemInList | json}}</p> -->

    <aside class="heatmap">

        <section class="heatmap-map">
            <div id="map" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)">
            </div>
        </section>
        <article class="info">

            <section class="list-section-block">

                <aside class="list-section" [class.show]="selectedListToShow.cameras">
                    <header (click)="expandCollapseList('cameras')">Cameras</header>
                    <ul class="list" >
                        <li *ngFor="let list of cameraList; let i = index;" class="list-item expand-collapse" (click)="handleClickOnListItem(list, 'cameras')">

                            <app-list-item [listItemProp]="list" [showListItemProp]="(selectedItemInList['DeviceID'] === list['DeviceID'] && selectedItemInList['deviceGPSLat'] === list['deviceGPSLat'])"></app-list-item>

                        </li>
                    </ul>
                </aside>

                <aside class="list-section" [class.show]="selectedListToShow.lightPoleList">
                    <header (click)="expandCollapseList('lightPoleList')">Light Poles</header>
                    <ul class="list">
                        <li *ngFor="let list of lightPoleList; let i = index;" class="list-item expand-collapse" (click)="handleClickOnListItem(list, 'lightPoleList')">

                            <app-list-item [listItemProp]="list" [showListItemProp]="(selectedItemInList.DeviceID === list.DeviceID && selectedItemInList.deviceGPSLat === list.deviceGPSLat)"></app-list-item>

                        </li>
                    </ul>
                </aside>

                <aside class="list-section" [class.show]="selectedListToShow.airSensorList">
                    <header (click)="expandCollapseList('airSensorList')">Air Quality Sensors</header>
                    <ul class="list" >
                        <li *ngFor="let list of airSensorList; let i = index;" class="list-item expand-collapse" (click)="handleClickOnListItem(list, 'airSensorList')">

                            <app-list-item [listItemProp]="list" [showListItemProp]="(selectedItemInList.DeviceID === list.DeviceID && selectedItemInList.deviceGPSLat === list.deviceGPSLat)"></app-list-item>

                        </li>
                    </ul>
                </aside>

            </section>

            <!-- <section class="camera-list">
                <app-list [listHeaderNameProp]="'CAMERAS'" [showExpandBtnProp]="true" listTypeProp="Common-list"
                    [inputDataProp]="cameraList"></app-list>
            </section>
            <section class="light-poles">
                <app-list [listHeaderNameProp]="'LIGHT POLES'" [showExpandBtnProp]="true" listTypeProp="Common-list"
                    [inputDataProp]="lightPoleList"></app-list>
            </section>
            <section class="air-quality-sensors">
                <app-list [listHeaderNameProp]="'AIR QUALITY SENSORS'" [showExpandBtnProp]="true"
                    listTypeProp="Common-list" [inputDataProp]="airSensorList"></app-list>
            </section> -->
        </article>
    </aside>

</article>