@import '../mixin.scss';



.heatmap-page {

    

    .heatmap {
        height: calc(100vh - 130px);
    
        .heatmap-map {
            width: calc(100% - 280px);
            height: 100%;
            padding: 15px;
            
            vertical-align: top;
            float: left;
            #map {
                height: calc(100vh - 100px);
                width: calc(100% - 0px);
                .img-name-and-btn{
                    .icnwarning{
                          /* padding: 4px; */
                          margin-top: 2px;
                            /* width: 20px; */
                            height: 20px;
                            float: left;
                            color: #485973;
                            span{
                                font-size: 15px
                            }
                    }
                    .list-item-image {
                        padding: 2px;
                        margin: 0;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background: #485973;
                        float: right;
                        color: #fff;
                        span{
                            font-size: 15px
                        }
                    }
        
                    .list-item-name {
                        font-weight: bolder;
                        color: #5c6566;
                        font-size: 12px;
                        height: 20px;
                        line-height: 20px;
                        width: calc(100% - 84px);
                        display: inline-block;
                        @extend ellipse;
                        &.map {
                            width: calc(100% - 56px);
                        }
                    }
        
                    .expand-collapse {
                        padding: 0;
                        margin: 1px 0 0 0;
                        border: none;
                        border-radius: 50%;
                        width: 18px;
                        height: 18px;
                        background: #485973;
                        color: #fff;
                        font-size: 18px;
                        float: right;
                        cursor: pointer;
                        i {
                            font-size: 18px;
                        }
                    }
        
                    &:after {
                        @extend clear-both-float;
                    }
    
                }
    
                .list-item-info {
                   
                    font-size: 11px;
                    margin-top: 12px;
                    color: #5c6566;
                    padding: 0px;   
    
                    &.show {
                        display: block;
                    }
    
                    header {
                        margin-bottom: 4px;
                        font-size: 11px;
                        font-weight: 600;
                        font-family: monospace;
                    }
    
                    address {
                        margin-bottom: 4px;
                        font-style: normal;
                        font-size: 10px;
                        color: BLACK;
                    }
                    aside
                    {
                        button{
    
                            border: 1px #02a1b5 solid;
                        background-color: #00BCD4;
                        padding: 5px;
                        color: white;
                        border-radius: 15px;
                        font-size: 10px;
                        }
                        time {
                                 float: right;
                        }
                    }            
    
                }
              }
            &:after {
                @extend clear-both-float;
            }
        }
        // .info{
            
        //     .camera-list,.light-poles,.air-quality-sensors {
        //         // width: 280px;
        //         // height: 100%;
        //         // padding: 4px;
        //         // vertical-align: top;
        //         // float: left;
        //         height: 180px;
        //         overflow: scroll;
        //         .list {
        //             height: 178px;
        //                 overflow: hidden;
        //                 ul {
        //                     height: 178px;
        //                     overflow-y: scroll;
        //                     overflow-x: hidden;
        //                 }
        //         }
        
        //         &:after {
        //             @extend clear-both-float;
        //         }
        //     }
            
        // }
        // &:after {
        //     @extend clear-both-float;
        // }


        .list-section-block {
            @extend list-section-block;
        }
        
    }


}
