<article class="devices-page">



    <aside class="devices">

        <section class="device-map">
            <div id="map" leaflet (leafletMapReady)="onMapReady($event)" [leafletOptions]="mapOptions"
                [leafletLayersControl]="layersControl">
            </div>
        </section>
        <article class="info">
            <!-- <section class="camera-list">
                <app-list [listHeaderNameProp]="'CAMERAS'" [showExpandBtnProp]="true" [inputDataProp]="cameraList"
                    listTypeProp="Common-list"></app-list>
            </section>
            <section class="light-poles">
                <app-list [listHeaderNameProp]="'LIGHT POLES'" [showExpandBtnProp]="true" [inputDataProp]="lightPoleList"
                    listTypeProp="Common-list"></app-list>
            </section>
            <section class="air-quality-sensors">
                <app-list [listHeaderNameProp]="'AIR QUALITY SENSORS'" [showExpandBtnProp]="true"
                    [inputDataProp]="airSensorList" listTypeProp="Common-list"></app-list>
            </section> -->
        </article>
    </aside>

</article>